

.mini-blog{
    max-width: calc(1000px -40px);
    margin: 10px auto;
    padding: 20px;
    background-color: blue;
    width: calc(96% - 40px);
    display: flex;
    flex-wrap: wrap;
}

.mini-blog header{
    flex-basis: 100%;
}

.mini-blog article{
    background-color: #CCC;
    flex-basis: calc(50% - 20px - 20px);
    padding: 10px;
    margin: 20px auto;
}
article p{
    color:green;
    text-align:center;
    font-size: 20px;
    
}

.radius{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

/*botao*/
.btn{
    color: black;
    padding: 6px 10px;
    font-weight: normal;
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-right: 10px;
}

.btn:hover{
    cursor: pointer;
}

.btn_green{
    background-color: green;
    color: #FFF;
}

.btn_green:hover{
    background-color: rgb(66, 216, 66);
}

.btn_red{
    background-color: red;
    color: #FFF;
}

.btn_red:hover{
    background-color: rgb(216, 66, 66);
}
@media(max-width: 730px){
    .mini-blog article{
        flex-basis: 100%;

    }
}