/*HEADER*/
.header_main{
    width: 100%;
    background-color: #2D3142;
}

.header_main_content{
    display: flex;
    margin: 0 auto;
    max-width: 1300px;
    
}

.header_main_content .logo{
    padding: 20px;
    flex-basis: 330px;
    width: 290px;
    
}

.header_main_content_menu{
    flex-basis: calc(100% - 330px);
    display: flex;
    justify-content: flex-end;
}

.header_main_content_menu ul{
    display: flex;
    align-items: stretch;
    
}

.header_main_content_menu ul li{
    display: flex;
    list-style: none;
    align-items: center;
    
}

.header_main_content_menu ul li a{
    display: flex;
    padding: 0px 26px;
    align-items: center;
    color: #D36833;
    height: 100%;
}

.header_main_content_menu ul li a:hover{
    background-color: #D36833;
    color: aliceblue;
}

/*CTA*/
.main_cta{
    width: 100%;
    background-color: #2D3142;
    color: white;
    background-image: url('../_img/bg_main_home.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 150px;
}

.main_cta_content{
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
}
.main_cta_content h1{
    font-size: 3em;
    font-weight: 700;
    color: #FFF;
}

.main_cta_content p{
    font-size: 1.875em;
    color: #FFF;
    font-weight: 300;
    margin: 20px 0;
}

.main_cta_content .btn{
    font-size: 0.8em;
    padding: 10px 40px;
    background-color: #D36833;
    color: aliceblue;
    font-weight: 400;
    align-items: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.main_cta_content .btn:hover{
    background-color: white;
    color: #D36833;
}

/* sessão do blog*/

.main_blog{
    max-width: 1300px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}

.main_blog_header{
    flex-basis: 100%;
    margin: 30px 0;
}

.main_blog_header h1{
    color: #333;
    font-size: 1.8em;
    margin-bottom: 5px;
}

.main_blog article{
    flex-basis: calc(25% - 20px);
    margin-bottom: 30px;
    opacity: 70%;
}

.main_blog article:hover{
    opacity: 100%;
}

.main_blog p{
    margin: 10px 0;
}
.main_blog img{
    width: 100%;
}

.main_blog article .category{
    font-size:0.875em;
    color: #D36833;
}

.main_blog h2 a{
    color: #2D3142;
    font-size: 1em;
    font-weight: 400;
}

/*OPTIN*/
.main_optin{
    width: 100%;
    padding: 30px 20px;
    margin: 30px 0;
    background-color: #2D3142;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main_optin header{
    color: #FFF;
    margin-right: 5px;
}

.main_optin h1{
    font-size: 1.2em;
}

.main_optin p{
    text-align: end;
}

.main_optin .input_box{
    margin: auto 10px;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
}

.main_optin .btn_submit{
    cursor: pointer;
    height: 38px;
    margin: auto 10px;
    text-align: center;
    font-size: 0.8em;
    padding: 0 60px;
    background-color: #D36833;
    color: #FFF;
    border-radius: 10px;
    border: none;
}