*, *:after, *:before{
    margin: 0;
    padding: 0;
    font-size: 1em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.ds_none{
    display: none !important;
}